<%=f_name%>, you're <%=age%> years old
<h1>What's your favorite food and drink?</h1>
<form method="post" action="food_drink">
	<input type="text" name="food" placeholder="Food">
	<br>
	<input type="text" name="drink" placeholder="Drink">
	<br>
	<input type="hidden" name="f_name" value="<%=f_name%>">
	<input type="hidden" name="age" value="<%=age%>">
	<input type="submit" value="submit your food">
</form>